<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos">Pedidos</a>
        </li>

        <ul class="nav navbar-nav topnav-right">
            <li><a href="#"><span></span>Real Sucos</a></li>
          </ul>
  
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
