* {
    box-sizing: border-box;
  }

input{
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    padding: 12px 20px;
}

label {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: .5rem;
  }

  h4 {
    text-align:center;
    margin-top: 0px;
    margin-bottom: 20px;
}